/* CSS start */
:root {
    --color-bg-light: #FAFAFA;
    --color-text-main: #111111;
    --color-text-muted: #737373;
    --color-border-light: #E5E5E5;
}

.dark {
    --color-bg-light: #111111;
    --color-text-main: #FAFAFA;
    --color-text-muted: #A3A3A3;
    --color-border-light: #333333;
}

::selection {
    background-color: var(--color-text-main);
    color: var(--color-bg-light);
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.project-scroll::-webkit-scrollbar {
    height: 6px;
}

.project-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.project-scroll::-webkit-scrollbar-thumb {
    background: var(--color-border-light);
    border-radius: 10px;
}

.project-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-muted);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-border-light);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-muted);
}

/* CSS end */